
<% if current_user.type_id == historic_form.type_id %>
<li id="<%= historic_form.id %>">



<div class="panel-group" id="accordion">
      <h5 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href='#collapse<%= historic_form.id %>'>
          Adicionar horas como <%= historic_form.type.name %>
        </a>
      </h5>
    <div id='collapse<%= historic_form.id %>' class="panel-collapse collapse">
      	
		<b><h1><%= historic_form.type.name %></h1></b><br>
		  Foram reservadas <%= historic_form.hours_amount %> horas por mês. <br>
		  Já foi trabalhado <%= Historic.get_hour(historic_form.get_hours_completed(Time.now)) %> horas este mês <br>
		  Faltam <%= Historic.get_hour(historic_form.hours_amount - historic_form.get_hours_completed(Time.now)) %> horas nesse mês
		  <br>
			<%= render :partial => 'layouts/notice' , :collection => historic_form.verify_hours %>
		
		  <section>
		  <% if current_user.type_id == historic_form.type_id %>
		  Adicione suas horas: <br>
            <%= form_for(historic_form.project.historics.build) do |f| %>

                <p><label for="project_id">Tarefas</label>
                  <%= f.select('task_id', @tasks ) %></p>

                <div class="field">
                  Entrada:
                  <%= f.time_field :enter_work %>
                </div>

                <div class="field">
                  Saída:
                  <%= f.time_field :exit_work %>
                </div>
                <div class="field">
                  Dia:
                  <%= f.date_field :work_date %>
                </div>

                <div class="field">
                  Observação:
                  <%= f.text_field :comment %>
                </div>

                <div class="field">

                  <%= f.hidden_field :project_id%>
                </div>
                <div class="actions">
                <%= f.submit "Comfirm", :class => "btn  btn-secondary" %>
                  </div>
            <% end %>
		  <% end %>
		
		  
		
		
		   <br>
		  <span class="timestamp">
		Posted <%= time_ago_in_words(historic_form.created_at) %> ago.
		  </span>
		  <br>
		  
		
		</section>

     </div>
</div>



  


</li>

<% end %>