
<!-- links para fazer o datepiker funcionar  -->
<link href="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet">

<script src="../files/js/jquery.min.js"></script>
<script src="../files/js/bootstrap.js"></script>
<script src="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt-BR.js"></script>

<!-- links para fazer o datepiker funcionar  -->


<h1> Relatórios </h1>
<div class="row pull-center range-query">
<br>
<br>
  <div class="row pull-right">
  <%= form_tag @url_search, :method => :get do %>
      <%= label_tag "Selecionar Data" %>
      <div  >
        <%= text_field_tag :date, "#{@date.strftime"%m/%Y"}", 'data-behaviour' => 'datepicker' %>
      </div>
      <%= submit_tag 'Procurar', :class => 'btn btn-primary search-button' %>
  <% end %>
</div></div>
<row>
  <br>
  <br>

<%= render :partial => 'reports_table', :collection => @projects %>

</row>




<script type="text/javascript">
    $(document).ready(draw_chart());
</script>


<script type="text/javascript">

    $('[data-behaviour~=datepicker]').datepicker({
        format: "mm/yyyy",
        minViewMode: 1,
        todayBtn: "linked",
        language: "pt-BR",
        startDate: "01/2012",
        autoclose: true
    });

</script>