<h1>New Timetable</h1>

<%= form_for(@timetable) do |f| %>
  <%#= render 'layouts/error_messages', object: f.object %>

  <div class="field">
  	<%= f.hidden_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :hours_amount %><br>
    <%= f.number_field :hours_amount %>
  </div>


  <p><label for="timetable_type_id">Type</label><br/>
      <%= select(:timetable, :type_id, @types ) %></p>

  <%= f.submit "Post", :class => "btn btn-large btn-primary" %>
<% end %>

<% link_to "Project", @timetable.project %>