<h1> Editando </h1>

<%= form_for(@historic) do |f| %>


    <p><label for="project_id">Projetos</label>
      <%= f.select('project_id', @projects ) %></p>

    <p><label for="historic_task_id">Tarefas</label>
      <%= f.select(:task_id, @tasks ) %></p>


    <div class="field">
      Entrada:
      <%= f.time_field :enter_work , {:onchange => "enter_work()" } %>
    </div>

    <div class="field">
      Saída:
      <%= f.time_field :exit_work , { :onchange => "exit_work()"} %>
    </div>

    <div class="field">
      duração:
      <%= time_field_tag :duration,{},{:readonly=>"readonly"} %>
    </div>

    <div class="field" >
      <%= f.hidden_field :work_date %>

    </div>

    <div class="field" >
      Observação:
      <%= f.text_field :comment %>
    </div>


    <div class="actions">
      <%= f.submit "Comfirmar", :class => "btn  btn-primary" %>
    </div>
<% end %>




<script type="text/javascript">

    function enter_work(){

        var enter = document.getElementById("historic_enter_work").value;
        var exit = document.getElementById("historic_exit_work");
        var duration = document.getElementById("duration");


        if (exit.value == ""){

            var hours = (parseInt(enter.split(':')[0]) + 08);

            var minutes = enter.split(':')[1];
            minutes = minutes.toString().length<2?'0'+minutes:minutes;
            if(minutes<0){
                hours--;
                minutes = 60 + minutes;
            }

            hours = hours.toString().length<2?'0'+hours:hours;
            exit.value = hours + ':' + minutes;

            duration.value = "08:00";
        }else{
            var hours = exit.value.split(':')[0] - enter.split(':')[0];
            var minutes = exit.value.split(':')[1] - enter.split(':')[1];
            minutes = minutes.toString().length<2?'0'+minutes:minutes;
            if(minutes<0){
                hours--;
                minutes = 60 + minutes;
            }
            hours = hours.toString().length<2?'0'+hours:hours;
            duration.value = hours + ':' + minutes;
        }


    }

    function exit_work(){
        var enter = document.getElementById("historic_enter_work").value;
        var exit = document.getElementById("historic_exit_work").value;
        var duration = document.getElementById("duration");


        if (exit != '' && enter != '' ){
            var hours = exit.split(':')[0] - enter.split(':')[0];
            var minutes = exit.split(':')[1] - enter.split(':')[1];
            minutes = minutes.toString().length<2?'0'+minutes:minutes;
            if(minutes<0){
                hours--;
                minutes = 60 + minutes;
            }
            hours = hours.toString().length<2?'0'+hours:hours;
            duration.value = hours + ':' + minutes;
        }
    }

    function durationFunc(){

        var enter = document.getElementById("historic_enter_work").value;
        var exit = document.getElementById("historic_exit_work");
        var duration = document.getElementById("duration").value;


        if (exit != '' && enter != ''){
            var hours = enter.split(':')[0] + duration.split(':')[0] ;
            var minutes = enter.split(':')[1] + duration.split(':')[1];
            minutes = minutes.toString().length<2?'0'+minutes:minutes;
            if(minutes<0){
                hours--;
                minutes = 60 + minutes;
            }
            hours = hours.toString().length<2?'0'+hours:hours;
            exit.value = hours + ':' + minutes;
        }

    }



</script>