
<h1>Novo Projeto</h1>

<%= form_for(@projects) do |f| %>

    <div class="field">
      <%= f.label "Nome" %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label "Descrição" %>
      <%= f.text_field :description %>
    </div>

    <label for="project_client_id">Cliente</label>
      <%= f.select(:client_id, @clients ) %>



    <section><br>
    <div class="field">
      <%= label_tag "Quantidade de Horas" %>
      <%= number_field "timetable0", :hours_amount %>
    </div>

    <div class="field">
      <%= label_tag "Observação" %>
      <%= text_field "timetable0", :observation %>
    </div>


    <label for="timetable_type_id">Cargo</label>
      <%= select("timetable0", :type_id, @types ) %>
    </section><br>




    <div id="btnCreate">
      <input  type="button" class="btn btn-small" value="Adicionar Horas" onClick="add_timetable(0);" >
    </div>
    <div id="timetable1">



    </div>





    <br>
    <%= f.submit "Comfirmar", :class => "btn btn-large btn-primary" %>
    </div>

<% end %>


<script type="text/javascript">

    function add_timetable(n){
        var num = n+1
        document.getElementById('btnCreate').innerHTML = "";
        document.getElementById('btnCreate').id = "";
        document.getElementById('timetable'+num).innerHTML =
                '<div id="form'+num+'">'+
                '<div class="field"><section><br>'+
                '<%= label_tag "Quantidade de Horas" %>'+
                '<%= text_field "timetable", :hours_amount %>'+
                '</div>'+
                '<div class="field">'+
                '<%= label_tag "Observação" %>'+
                '<%= text_field "timetable", :observation %>'+
                '</div>'+
                '<label for="timetable_type_id">Cargo</label>' +
                '<%= escape_javascript(select("timetable", :type_id, @types )) %>'+
                '<div id="btnRemove'+num+'">'+
                '<input  type="button" class="btn btn-small btn-danger " value="Remover" onClick="remove_timetable('+num+');" >'+
                '</div></section><br>'  +
                '</div>'  +
                '<br><div id="btnCreate">'+
                '<input  type="button" class="btn btn-small" value="Adicionar Horas" onClick="add_timetable('+num+');" >'+
                '</div>'  +
        '<div id="timetable'+(num+1)+ '"></div>';

        document.getElementById('timetable_hours_amount').name = 'timetable'+num+'[hours_amount]'
        document.getElementById('timetable_hours_amount').id =  'timetable'+num+'_hours_amount';

        document.getElementById('timetable_type_id').name = 'timetable'+num+'[type_id]'
        document.getElementById('timetable_type_id').id =  'timetable'+num+'_type_id';

        document.getElementById('timetable_observation').name = 'timetable'+num+'[observation]'
        document.getElementById('timetable_observation').id =  'timetable'+num+'_observation';

    }
</script>

<script type="text/javascript">

    function remove_timetable(id){

        document.getElementById('form'+id).innerHTML = "";
    }
</script>

